@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.tw-footer_1 {
  flex-basis: 50%;
}

.tw-spinner {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.parent_transition {
}

.child_transition {
  background-color:black;
  width: 100%;
  opacity: 0;
  height: 60%;
  transition: all 0.5s;
  bottom: 0;
}

.parent_transition:hover .child_transition {
  height: 100%;
  opacity: .6;
  bottom: 0;
  filter: saturate(1);
  z-index: 100;
}


.video-player {
  height: calc(100% - 60px);
}
#sidebar_item_name{
  flex-basis: 60%;
}
.sidebar_item_number{
  text-orientation: sideways;
}