@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

.tw-footer_1 {
  flex-basis: 50%;
}

.tw-spinner {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.parent_transition {}

.child_transition {
  background-color: black;
  width: 100%;
  opacity: 0;
  height: 60%;
  transition: all 0.5s;
  bottom: 4px;
  pointer-events: none;
}

.parent_transition:hover .child_transition {
  height: 100%;
  opacity: 0.8;
  bottom: 4px;
  filter: contrast(2.5);
  pointer-events: all;
}

.child_transition_1 {
  width: 100%;
  opacity: 0;
  height: 40%;
  transition: all 0.5s;
  bottom: 4px;
  pointer-events: none;
}

.parent_transition:hover .child_transition_1 {
  height: 100%;
  opacity: 1;
  bottom: 4px;
  filter: contrast(2.5);
  pointer-events: all;
}

.video-player {
  height: calc(100% - 60px);
}

#sidebar_item_name {
  flex-basis: 60%;
}

.sidebar_item_number {
  text-orientation: sideways;
}

.footer-top-shadow {
  box-shadow: 0px 5px 36px 0px black;
}

.red-gray-gradient {
  background: rgb(253, 30, 71);
  background: linear-gradient(180deg, rgba(253, 30, 71, 0.5970763305322129) 0%, rgba(20, 20, 21, 0.5130427170868348) 100%);
}

.video-call-icon-container {
  box-shadow: 0px 0px 10px #FFFFFF;
}

.video-call-button {
  box-shadow: 0px 0px 10px #FD1E47;
}

.chat-box {
  overflow-y: auto;
}

.chat-box::-webkit-scrollbar {
  display: none;
}

/* .chat-box-container::-webkit-scrollbar {
  display: none;
} */

.chat-box-container::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
.chat-box-container::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
.chat-box-container::-webkit-scrollbar-thumb {
  background-color: wheat;    /* color of the scroll thumb */
}