@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

.tw-footer_1 {
  flex-basis: 50%;
}

.tw-spinner {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.parent_transition {}

.child_transition {
  background-color: black;
  width: 100%;
  opacity: 0;
  height: 60%;
  transition: all 0.5s;
  bottom: 4px;
  pointer-events: none;
}

.parent_transition:hover .child_transition {
  height: 100%;
  opacity: 0.8;
  bottom: 4px;
  filter: contrast(2.5);
  pointer-events: all;
}

.child_transition_1 {
  width: 100%;
  opacity: 0;
  height: 40%;
  transition: all 0.5s;
  bottom: 4px;
  pointer-events: none;
}

.parent_transition:hover .child_transition_1 {
  height: 100%;
  opacity: 1;
  bottom: 4px;
  filter: contrast(2.5);
  pointer-events: all;
}

.video-player {
  height: calc(100% - 60px);
}

#sidebar_item_name {
  flex-basis: 60%;
}

.sidebar_item_number {
  text-orientation: sideways;
}

.footer-top-shadow {
  box-shadow: 0px 5px 36px 0px black;
}

.red-gray-gradient {
  background: rgb(253, 30, 71);
  background: linear-gradient(180deg, rgba(253, 30, 71, 0.5970763305322129) 0%, rgba(20, 20, 21, 0.5130427170868348) 100%);
}

.video-call-icon-container {
  box-shadow: 0px 0px 10px #FFFFFF;
}
.video-call-button {
  box-shadow: 0px 0px 10px #FD1E47;
}

/* Drop Down */
 .dropdown_1:hover  .dropdown_list_1{
  position: absolute;
  display: block;
  background-color: #1C1C1C;
  z-index: 10;
  margin-left: 0;
  /* transform: rotateY(-180); */
  transition: cubic-bezier();
}

.dropdown_list_1{
  position: absolute;
  display: none;
  color: #FFFFFF;
  z-index: 10;
}

/* ----------------------- */

.accept_call {
    height: 50px;
    width: 50px;
    z-index: 10;
    background-color:greenyellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.reject_call {
    height: 50px;
    width: 50px;
    z-index: 10;
    background-color:red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}
/* ----------------------- */

.accept_call::before {
    content: "";
    position: absolute;
    z-index: 0;
    border: 1px solid greenyellow;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite
}
.reject_call::before {
    content: "";
    position: absolute;
    z-index: 0;
    border: 1px solid rgb(155, 37, 37);
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite
}


.accept_call::after {
    content: "";
    position: absolute;
    z-index: 0;
    border: 1px solid yellowgreen;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite;
    animation-delay: 0.3s;
}
.reject_call::after {
    content: "";
    z-index: 0;
    position: absolute;
    border: 1px solid red;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite;
    animation-delay: 0.3s
}

@keyframes pulse  {
    0% {
        transform: scale(0.5);
        opacity: 0
    }

    50% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(1.3);
        opacity: 0
    }
}

@keyframes accept_call  {
    0% {
        transform: scale(0.5);
        opacity: 0
    }

    50% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(1.3);
        opacity: 0
    }
}
@keyframes reject_call  {
    0% {
        transform: scale(0.5);
        opacity: 0
    }

    50% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(1.3);
        opacity: 0
    }
}


/* slider */


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* slider */

/* Drop down in profile.jsx */
.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: #4245a8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

/* Grid in document.jsx in model folder */

.document_grid{
  grid-template-rows: 100px,auto,auto;
}

/* help overlay */
.help_1:hover .help_text_1{
  display: block;
  background-color: black;
  position: absolute;
  padding: 4px;
  z-index: 10;
  margin: -5px;
}
