@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}

.box-group:first-of-type {
  margin-top: 2rem;
}

.tw-footer_1 {
  flex-basis: 50%;
}

.gift-container::-webkit-scrollbar {
  height: 8px;
  /* width of the entire scrollbar */
}

.gift-container::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

.gift-container::-webkit-scrollbar-thumb {
  background-color: rgb(88, 56, 0);
  /* color of the scroll thumb */
}

.coin-superchat-bg {
  background: rgb(255, 226, 0);
  background: linear-gradient(
    45deg,
    rgba(255, 226, 0, 0.06486344537815125) 64%,
    rgba(252, 182, 0, 0.3925945378151261) 83%,
    rgba(250, 62, 0, 0.4374124649859944) 96%
  );
}

.gift-superchat-bg {
  background: rgb(255, 51, 0);
  background: linear-gradient(
    45deg,
    rgba(255, 51, 0, 0.1) 73%,
    rgba(195, 48, 0, 0.4374124649859944) 92%
  );
}

.tw-spinner {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.child_transition {
  background-color: black;
  width: 100%;
  opacity: 0;
  height: 50%;
  transition: all 0.5s;
  bottom: 4px;
  pointer-events: none;
}

.parent_transition:hover .child_transition {
  height: 99%;
  opacity: 0.8;
  bottom: 4px;
  filter: contrast(2.5);
  pointer-events: all;
}

.child_transition_1 {
  width: 100%;
  opacity: 0;
  height: 40%;
  transition: all 0.5s;
  bottom: 4px;
  pointer-events: none;
}

.parent_transition:hover .child_transition_1 {
  height: 100%;
  opacity: 1;
  bottom: 4px;
  filter: contrast(2.5);
  pointer-events: all;
}

/* .video-player {
  height: calc(100% - 60px);
} */

#sidebar_item_name {
  flex-basis: 60%;
}

.sidebar_item_number {
  text-orientation: sideways;
  -webkit-text-orientation: sideways;
}

.footer-top-shadow {
  box-shadow: 0px 5px 36px 0px black;
}

.red-gray-gradient {
  background: rgba(253, 30, 71, 0.61);
  background: linear-gradient(
    140deg,
    rgba(253, 30, 71, 0.5970763305322129) 0%,
    rgba(40, 40, 43, 0.513) 100%
  );
}

.video-call-icon-container {
  box-shadow: 0px 0px 10px #ffffff;
}

.video-call-button {
  box-shadow: 0px 0px 10px #fd1e47;
}

/* Drop Down */
.dropdown_1:hover .dropdown_list_1 {
  position: absolute;
  display: block;
  background-color: #1c1c1c;
  z-index: 10;
  margin-left: 0;
  /* transform: rotateY(-180); */
  transition: cubic-bezier();
}

.dropdown_list_1 {
  position: absolute;
  display: none;
  color: #ffffff;
  z-index: 10;
}

/* ----------------------- */

.accept_call {
  height: 50px;
  width: 50px;
  z-index: 10;
  background-color: greenyellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.reject_call {
  height: 50px;
  width: 50px;
  z-index: 10;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* ----------------------- */

.accept_call::before {
  content: "";
  position: absolute;
  z-index: 0;
  border: 1px solid greenyellow;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}
.reject_call::before {
  content: "";
  position: absolute;
  z-index: 0;
  border: 1px solid rgb(155, 37, 37);
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}

.accept_call::after {
  content: "";
  position: absolute;
  z-index: 0;
  border: 1px solid yellowgreen;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
  animation-delay: 0.3s;
}
.reject_call::after {
  content: "";
  z-index: 0;
  position: absolute;
  border: 1px solid red;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
  animation-delay: 0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes accept_call {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes reject_call {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

/* slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* slider */

/* Drop down in profile.jsx */
.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: #fd1e47;
  border-radius: 40px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.file-input__label_exception {
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

/* Grid in document.jsx in model folder */

/* .document_grid {
  grid-template-rows: 400px, 400px;
  grid-template-columns: 100px,100px;
} */

/* help overlay */
.help_1:hover .help_text_1 {
  display: block;
  background-color: black;
  position: absolute;
  padding: 4px;
  z-index: 10;
  margin: -5px;
}
.chat-box {
  overflow-y: auto;
}

.chat-box::-webkit-scrollbar {
  display: none;
}

/* .chat-box-container::-webkit-scrollbar {
  display: none;
} */

.chat-box-container::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

.chat-box-container::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

.chat-box-container::-webkit-scrollbar-thumb {
  background-color: wheat;
  /* color of the scroll thumb */
}

/*
  CSS SPINNER
*/

.time-5 {
  --c1: #673b14;
  --c2: #f8b13b;
  width: 40px;
  height: 80px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(
      90deg,
      var(--c1) 2px,
      var(--c2) 0 5px,
      var(--c1) 0
    )
    center/7px 8px no-repeat;
  display: grid;
  display: -ms-grid;
  overflow: hidden;
  animation: t5-0 2s infinite linear;
}

.time-5::before,
.time-5::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  border-radius: 0 0 40% 40%;
  -webkit-mask: linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background: linear-gradient(var(--d, 0deg), var(--c2) 50%, #0000 0) bottom /
      100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: t5-1;
}

.time-5::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s: 3px;
  --d: 180deg;
}

@keyframes t5-0 {
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0.5turn);
  }
}

@keyframes t5-1 {
  10%,
  70% {
    background-size: 100% 205%, var(--s, 0) 100%;
  }
  70%,
  100% {
    background-position: top, center;
  }
}

.arcade-9 {
  font-size: 17px;
  font-family: monospace;
  font-weight: bold;
  background: linear-gradient(#000 0 0) left, linear-gradient(#000 0 0) right;
  background-repeat: no-repeat;
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: a9-0 2s infinite;
}

@keyframes a9-0 {
  0%,
  25% {
    background-size: 50% 100%;
  }
  25.1%,
  75% {
    background-size: 0 0, 50% 100%;
  }
  75.1%,
  100% {
    background-size: 0 0, 0 0;
  }
}

.arcade-9::before {
  content: "Loading";
}

.arcade-9::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background: linear-gradient(90deg, #000 4px, #0000 0 calc(100% - 4px), #000 0)
      bottom / 22px 20px,
    linear-gradient(90deg, red 4px, #0000 0 calc(100% - 4px), red 0) bottom 10px
      left 0/22px 6px,
    linear-gradient(#000 0 0) bottom 3px left 0 /22px 8px,
    linear-gradient(#000 0 0) bottom 0 left 50%/8px 16px;
  background-repeat: no-repeat;
  animation: a9-1 2s infinite;
}

@keyframes a9-1 {
  25% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  25.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  50% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
}

/* card grid  */
.card_grid {
  -ms-grid-rows: 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;
}
@media screen and (max-width: 768px) {
  .card_grid_main {
    grid-template-columns: 50% 10%;
    -ms-grid-columns: 50% 10%;
  }
}

/* card grid */
.circle-shadow {
  box-shadow: 0 0 5px 2px rgba(40, 40, 40, 1);
}

/* document */
.document_rows {
  grid-template-rows: 14rem 14rem;
  -ms-grid-rows: 14rem 14rem;
}
/* for small screen */
@media screen and (max-width: 768px) {
  .document_rows {
    grid-template-rows: 5rem 10rem;
    -ms-grid-rows: 5rem 10rem;
  }
}

.document_rows_main {
  display: grid;
  display: -ms-grid;
  grid-template-rows: 14rem 14rem 5rem;
  -ms-grid-rows: 14rem 14rem 5rem;
}

/* for small screen */
@media screen and (max-width: 768px) {
  .document_rows_main {
    display: grid;
    display: -ms-grid;
    grid-column: 1;
    grid-template-rows: 20rem 20rem;
    -ms-grid-rows: 20rem 20rem;
  }
}

/*  */
/* Profile Tabs */
.profile_tabs:focus {
  background-color: #f8673b;
}
/* Profile Tabs */

.viewer-form input::-webkit-input-placeholder {
  color: rgb(211, 0, 0);
  text-transform: capitalize;
  text-align: left;
}
.viewer-form input::-moz-placeholder {
  color: rgb(211, 0, 0);
  text-transform: capitalize;
  text-align: left;
}
.viewer-form input:-ms-input-placeholder {
  color: rgb(211, 0, 0);
  text-transform: capitalize;
  text-align: left;
}
.viewer-form input:-moz-placeholder {
  color: rgb(211, 0, 0);
  text-transform: capitalize;
  text-align: left;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.tipmenu-superchat-bg {
  background: rgb(253, 30, 71);
  background: linear-gradient(
    45deg,
    rgba(253, 30, 71, 0.5270483193277311) 47%,
    rgba(253, 30, 71, 1) 88%
  );
}

/* action grid  */
.action_grid {
  grid-template-columns: 1fr 1fr auto;
  -ms-grid-columns: 1fr 1fr auto;
}

@media screen and (max-width: 768px) {
  .action_grid {
    grid-template-columns: 45% 45% 10%;
    -ms-grid-columns: 45% 45% 10%;
  }
}

/* action grid  */

/* Token Grid */
.token_grid {
  grid-template-columns: 28% 1fr 1fr 15%;
  -ms-grid-column: 28% 1fr 1fr 15%;
}
/* Token Grid */

/* user profile */
.userProfileIntro {
  display: flex;
}

.userProfil_1 {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
}

.userProfile-2 {
  display: flex;
}
.my-custom-style {
  border-bottom: 0px !important;
  border-color: rgb(35, 35, 35);
}

.my-custom-style > li.active {
  border-width: 0px;
  background-color: rgb(35, 35, 35);
}

.my-custom-style > li > button:hover {
  border-color: rgb(35, 35, 35) !important;
}

.my-custom-style > li > button.active {
  border-color: rgb(35, 35, 35) !important;
  background-color: #303133 !important;
  font-weight: 500;
  color: whitesmoke !important;
}

.notif-container::-webkit-scrollbar {
  display: none;
}
/* state list */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 2221;
  cursor: pointer;
}

/* state list */
#model-status {
  transition-property: opacity;
  transition-duration: 300ms;
}
.live-model-box:hover #model-status {
  opacity: 100;
  transition-property: opacity;
  transition-duration: 300ms;
}

.notif-wrapper {
  box-shadow: 0px 0px 8px 1px rgba(30, 30, 30 0.28);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(30, 30, 30 0.28);
  -moz-box-shadow: 0px 0px 8px 1px rgba(30, 30, 30 0.28);
}

/* Profile Images */
.headerUI {
  display: none;
}
.profileImage:hover .headerUI {
  display: block;
}
/* Profile Image hover */

/* to put the scroll bar hide */

.scrollHide::-webkit-scrollbar {
  display: none;
}


/* No scroll bar Thanks shalendra */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  display: none;
  /* background: transparent;  Optional: just make scrollbar invisible */
}
/* to put the scroll bar hide */
